
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<h1> {{ poll }} </h1>

<form action="{% url 'pollsapp:vote' poll.id %}" method="post">
    {% csrf_token %}
    {% for choice in poll.choice_set.all %}
        <input type="radio" id="{{ forloop.counter }}" name="choice", value={{ choice.id }} />
        <label for="choice{{ forloop.counter }}">
            {{ choice }}
        </label><br>
    {% endfor %}
    <input type="submit" value="Vote">
</form>
