{% if form.errors %}
{% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% for field in form %}
    {{ field.errors }}
    <label>{{ field.label_tag }}</label>
    {{ field }}
{% endfor %}