{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'pollsapp/style.css' %}" />

{% if all_polls %}
    <h1>Polls list:</h1>
    <ul>
        {% for poll in all_polls %}
        <li><a href="{% url 'pollsapp:detail' poll.id %}">{{ poll.poll_title }} </a></li>
        {% endfor %}
    </ul>
{% else %}
    <h2>You don't have any polls</h2>
{% endif %}
<a href="{% url 'pollsapp:poll-add' %}">Create poll</a> <br>
<a href="{% url 'pollsapp:register' %}">Register</a><br>
<a href="{% url 'pollsapp:login' %}">Login</a>
